@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {
  box-sizing: border-box;
}

body {
  background-color: #242322;
  background-size: 400% 400%;
  height: 100vh;
  font-family: "Open Sans", sans-serif;

}

a {
  text-decoration: none;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.row {
  max-width: 800px;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  width:24%;
  margin-bottom: 15px
}
.card .menu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.card .menu-content::before, .card .menu-content::after {
  content: '';
  display: flex;
}
.card .menu-content::after {
  clear: both;
}
.card .menu-content li {
  display: flex;
}
.card .menu-content a {
  color: #fff;
}
.card .menu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
.card .wrapper {
  background-color: #fff;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.card .wrapper:hover .data {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card .data {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.card .data .content {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.card .author {
  font-size: 12px;
}
.card .title {
  margin-top: 10px;
}
.card .text {
  height: 70px;
  margin: 0;
}
.card input[type='checkbox'] {
  display: none;
}
.card input[type='checkbox']:checked + .menu-content {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}



.example-2 .wrapper {
  background: url(https://instaqueenies.ml/images/cutesofsalem.jpeg) center/cover no-repeat;
}
.example-2 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-2 .header {
  color: #fff;
  padding: 1em;
}
.example-2 .header::before, .example-2 .header::after {
  content: '';
  display: flex;
}
.example-2 .header::after {
  clear: both;
}
.example-2 .header .date {
  float: left;
  font-size: 12px;
}
.example-2 .menu-content {
  float: right;
}
.example-2 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-2 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-2 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
}
.example-2 .title a {
  color: #fff;
}
.example-2 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-2 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-2 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}


.example-1 .wrapper {
  background: url(./img/obj.jpeg) center/cover no-repeat;
}
.example-1 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-1 .header {
  color: #fff;
  padding: 1em;
}
.example-1 .header::before, .example-1 .header::after {
  content: '';
  display: flex;
}
.example-1 .header::after {
  clear: both;
}
.example-1 .header .date {
  float: left;
  font-size: 12px;
}
.example-1 .menu-content {
  float: right;
}
.example-1 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-1 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-1 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
}
.example-1 .title a {
  color: #fff;
}
.example-1 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-1 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-1 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}

.example-3 .wrapper {
  background: url(./img/nsfw.jpeg) center/cover no-repeat;
}
.example-3 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-3 .header {
  color: #fff;
  padding: 1em;
}
.example-3 .header::before, .example-3 .header::after {
  content: '';
  display: flex;
}
.example-3 .header::after {
  clear: both;
}
.example-3 .header .date {
  float: left;
  font-size: 12px;
}
.example-3 .menu-content {
  float: right;
}
.example-3 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-3 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-3 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
}
.example-3 .title a {
  color: #fff;
}
.example-3 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-3 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-3 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}

.example-4 .wrapper {
  background: url(https://instaqueenies.ml/images/beautiesoftamilnadu.jpeg) center/cover no-repeat;
}
}
.example-4 .wrapper:hover .menu-content span {
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 1;
}
.example-4 .header {
  color: #fff;
  padding: 1em;
}
.example-4 .header::before, .example-4 .header::after {
  content: '';
  display: flex;
}
.example-4 .header::after {
  clear: both;
}
.example-4 .header .date {
  float: left;
  font-size: 12px;
}
.example-4 .menu-content {
  float: right;
}
.example-4 .menu-content li {
  margin: 0 5px;
  position: relative;
}
.example-4 .menu-content span {
  transition: all 0.3s;
  opacity: 0;
}
.example-4 .data {
  color: #fff;
  -webkit-transform: translateY(calc(70px + 1em));
          transform: translateY(calc(70px + 1em));
}
.example-4 .title a {
  color: #fff;
}
.example-4 .button {
  display: block;
  width: 100px;
  margin: 2em auto 1em;
  text-align: center;
  font-size: 12px;
  color: #fff;
  line-height: 1;
  position: relative;
  font-weight: 700;
}
.example-4 .button::after {
  content: '\2192';
  opacity: 0;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  transition: all 0.3s;
}
.example-4 .button:hover::after {
  -webkit-transform: translate(5px, -50%);
          transform: translate(5px, -50%);
  opacity: 1;
}

.row1 {
    display:flex;
    width: 100%;
}
.item {
    
}
.a {
    width: 150px;
    padding: 10px;
}
.b {
    flex: 1 auto;
    padding: 10px;
}
.c {
    padding: 10px;
}




@media(max-width:992px){
  .card{
    width:49%;
  }
}
@media(max-width:768px){
  .card{
    width:100%;
  }
}